/**********************
LIGHT THEME COLORS        
**********************/
$mainOrange: #F9930E;
$mainSemiDarkOrange: #563000;
$mainSemiDarkBlue: #09053C;
$mainDarkBlue: #03011C;
$mainLightGray: #F6F6FF;
$mainTextColor: #FFFFFF;




/*********************************************
**********************************************
ADDITIONAL THEME COLORS
**********************************************
*********************************************/


/*
$mainBlue: #2B20AD;
$mainSemiLightBlue: #8F89E1;
$mainLightBlue: #B6B2ED;

$mainSemiLightOrange: #FFCD8B;
$mainLightOrange: #FFDFB5;
$mainDarkOrange: #291700;

$sucessGreen: #0AB34E;
$sucessLightGreen:#A9EEC5;  
$sucessSemiLightGreen: #7CE3A5;
*/