.site-footer {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: $mainLightGray;
  color: $mainDarkBlue;

  @mixin atMedium {
    @mixin flexColumn;
  }

  &__text {
    font-weight: 300;
  }
  &__icons {
    @mixin flexRowCenter;
  }
}