
.contact__form {
  width: 100%;
  padding: 2.5rem 0;
  margin: 0 auto;

  @mixin atSmall {    
    padding: 4.5rem 2rem 0;
  }

  @mixin atMedium {
    padding: 7rem 2rem 0;
  }
}

.form {
  width: 100%;
  margin: 0 auto 50px;
  padding: 0 0 15px;
  text-align: center;

  &__group {
    width: 100%;
    margin: 0 auto;

    @mixin atSmall {
      width: 65%;
    }
  }


  /*   form__text  => textarea  */
  &__input {
    display: block;
    width: 90%;
    padding: .8rem 1rem;
    margin: 0 auto;
    font-size: 1.3rem;
    font-family: inherit;
    color: inherit;
    border-radius: 2px;
    background-color: rgba($lightColor, 1);
    border: none;
    border-bottom: 2px solid transparent;
    transition: all .3s;

    @mixin atSmall {
      width: 100%;
    }

    @mixin atMedium {
      padding: 1.3rem 2rem;
      font-size: 1.5rem;
    }


    &:focus {
      outline: 1px solid $mainAccent;
    }

    /*  =When focused & invalid text  */
    &:focus:invalid {
      outline: 1px solid $mainAccentDark;
    }

    /*   =Become darker when typing (chrome & safari) */
    &::-webkit-input-placeholder {
      color: $darkColor;
    } 

    /*   =Trying to custom textarea placeholder */
    &::-webkit-input-placeholder,
    &:-moz-placeholder, 
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &::placeholder {
      opacity: 1;
      color: $darkColor;
    }
  }

  &__label {
    display: block;
    margin-left: 3rem;
    margin-top: .3rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    transition: all .3s;
  }

  /*  =Make the label disappear  */
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}


  /* =Form button */
  .form-btn {
    display: block;
    width: 60%;
    margin: 4rem auto 0;
    cursor: pointer;    
    border: none;
    
    @mixin atSmall {    
      width: 30%;
    }
  }
