.site-about {
  & div  {

    .img-container {    
      margin: 0 auto 4.5rem;

      @mixin atMedium {
        margin: 0 auto 7rem;
      }
    }

    & div .img-container {    
      margin: 0 auto 4.5rem;

      @mixin atMedium {
        margin: 0 auto;
      }
    }

  }

  & h3 {
    width: 85%;

    @mixin atLarge {
      width: 95%;
    }
  }

  & p {
    width: 100%;
    margin: 0 auto;  
    padding-bottom: 1.5rem;


    @mixin atSmall {
      width: 95%;
    }

    @mixin atLarge {
      max-width: 90rem
    }
  }
}