.testimonial {
  width: 80%;
  background-color: rgba(255, 255, 255, .8);
  padding: 0 1.8rem 1rem 1.8rem;
  margin: 0 auto 9.8rem;

  @mixin atLarge {
    width: 100%;
    margin-bottom: 0;
    padding: 0 2.9rem 1rem 2.9rem;
  }

  &--last {
    margin-bottom: 0;
  }

  &__photo {
    border-radius: 8rem;
    overflow: hidden;
    width: 16rem;
    height: 16rem;
    margin: 0 auto -8rem auto;
    position: relative;
    top: -8rem;
    border: .6rem solid rgba(255, 255, 255, .8);
  }

  &__title {
    color: $mainSemiDarkBlue;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    margin: 0;
  }

  &__subtitle {
    color: $mainSemiDarkOrange;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    margin: .4rem 0 1.6rem 0;
  }
}