.generic-content-container {
  text-align: center;
  color: $mainSemiDarkBlue;

  &  > p {
    max-width: 90rem;
    margin: 1.6rem auto;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.3;

    @mixin atXSmall {
      font-size: 1.35rem;
    }

    @mixin atSmall {
      width: 100%;
    }

    & strong {
      font-weight: 500;
    }

  }

  p a {
    font-weight: 700;
    color: $mainOrange;
  }
}