/*  custom scrollbar  */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: $lightColor;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: $lightColor;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba($darkColor, .18);
}


/*  =Reset  & Basics settings */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
  /* This set the font size of the site for 1rem  */
  font-size: 62.5%;
}

body {  
  box-sizing: border-box; 
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/*  init to 16px avoiding zooming on apple devices  */
input[type='text'], input[type='email'] {
  font-size: 16px;
}
