.row {

  @mixin clearfix;

  &--gutters {
    margin-right: -6.5rem;
  }

  &--gutters-large {
    margin-right: -10rem;
  }

  &--gutters-small {
    margin-right: -4.5rem;
  }

  &--gutters>article,
  &--gutters>div,
  &--gutters>section {
    padding-right: 6.5rem;
  }

  &--gutters-large>section,
  &--gutters-large>article,
  &--gutters-large>div {
    padding-right: 10rem;
  }

  &--gutters-small>div {
    padding-right: 4.5rem;
  }

  @mixin atMedium {
    &__medium-4 {
      float: left;
      width: 33.33%;

      
    }

    &__medium-4--larger {
      width: 37%;
    }

    &__medium-6 {
      float: left;
      width: 50%;
    }

    &__medium-8 {
      float: left;
      width: 66.66%;
    }

    &__medium-8--smaller {
      width: 63%;
    }
  }


  @mixin atLarge {
    &__large-4 {
      float: left;
      width: 33.33%;
    }

    &__large-4--larger {
      width: 37%;
    }

    &__large-6 {
      float: left;
      width: 50%;
    }

    &__large-8 {
      float: left;
      width: 66.66%;
    }

    &__large-8--smaller {
      width: 63%;
    }

  }

  /* Begin Equal Height Rules */
  &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }

    &>div {
      float: none;
      display: flex;
    }

  }

  &--equal-height-at-large {
    @mixin atLarge {
      display: flex;
    }

    &>div {
      float: none;
      display: flex;
    }
  }
}