.u-light-gradient {
  background: linear-gradient(214.5deg, rgba(246,246,255, 1) 22.8%, rgba(246,246,255, 1) 50.3%, rgba(255, 255, 255, 1) 84.6%);
  color: $mainDarkBlue;
}





.u-margin-bottom {
  margin: 0 auto 4.5rem;

  @mixin atMedium {
    margin: 0 auto 7rem;
  }
}
.u-margin-bottom-small {
  margin: 0 auto 2rem;

  @mixin atMedium {
    margin: 0 auto 2.6rem;
  }
}
.u-margin-top {
  margin: 4.5rem auto 0;

  @mixin atMedium {
    margin: 7rem auto 0;
  }
}


.u-page-section {
  padding: 4.5rem 0;

  @mixin atMedium {
    padding: 7rem 0;
  }
}