/*    =Utilities   */
.u-page-section {
  padding: 4.5rem 0;

  @mixin atMedium {
    padding: 7rem 0;
  }
}
.u-light-gradient {
  background: linear-gradient(180deg, rgba(235,235,255, .55) 22.8%, rgba(246,246,255, .85) 50.3%, rgba(255, 255, 255, .95) 84.6%);
  color: $mainDarkBlue;
}

.u-margin-top {
  margin: 4.5rem auto 0;

  @mixin atMedium {
    margin: 7rem auto 0;
  }
}
