/*    =Utilities   */
.u-page-section {
  padding: 4.5rem 0;

  @mixin atMedium {
    padding: 7rem 0;
  }
}

.u-margin-top {
  margin: 4.5rem auto 0;

  @mixin atMedium {
    margin: 7rem auto 0;
  }
}





/*  HERE SETTED SOME U-BG COLORS 
=> BG SECTION LIGHT GRADIENT
=> BG SECTION DARK */

.u-bg-dark {
  background: $darkColor;
  color: $lightColor;
}

.u-bg-darkGradient {
  background: $darkGradient;
  color: $lightColor;
}

.u-mask-lightGradient {
  background: $lightGradient;
  color: $darkColor;
}
  
 




  
.u-light-gradient {
  background: $lightGradient;
  color: $darkColor;
}