/**********************
  LIGHT THEME COLORS        
**********************/
$mainOrange: #F9930E;
$mainDarkBlue: #03011C;
$mainLightGray: #F6F6FF;
$mainTextColor: #FFFFFF;


/***************************

DO I NEED A BODY BG COLOR ???

***************************/



/************************
      DARK THEME 
************************/
/*
$main:  ;
$secondary: ;
$light: ;
$textColor : ;
*/



/*********************************************
**********************************************
      ADDITIONAL THEME COLORS
**********************************************
*********************************************/


/*
$mainBlue: #2B20AD;
$mainSemiLightBlue: #8F89E1;
$mainLightBlue: #B6B2ED;
$mainSemiDarkBlue: #09053C;

$mainSemiLightOrange: #FFCD8B;
$mainLightOrange: #FFDFB5;
$mainSemiDarkOrange: #563000;
$mainDarkOrange: #291700;

$sucessGreen: #0AB34E;
$sucessLightGreen:#A9EEC5;  
$sucessSemiLightGreen: #7CE3A5;

*/