/**********************
        colors
**********************/
$mainOrange: #F9930E;
$mainBlue: #09053C;
$mainDarkBlue: #03011C;
$mainLightGray: #F6F6FF;

/*********************************************
**********************************************
**********************************************
*********************************************/

$mainLightOrange: #FFDFB5;
$mainLightBlue: #B6B2ED;
$mainLightGreen: #7CE3A5;
$documentBackground: #fff;
/* #2B20AD
dark 
orange  #563000
        #291700
blue    #09053C
        #03011C
need to define what will be the final colors
text , bg , an secondary-color 
*/
$textColor: #FFCD8B;
/* #FFDFB5  */

$bgColor: #B6B2ED;
/*  #A9EEC5  */
$accentLight: #8F89E1;
/*  #7CE3A5  */
$accent: #2B20AD;
/*  #0AB34E  */





/*  palette orange / bleu 
comments = verte couleur additionnelle
*/