body {
  background-color: #ccc;
}

$mainBlue: #2f5572;

.large-hero {
  height: 500px;
  width: 800px;
  margin: 0 auto;
  padding: 0;
  h2 {
    background-color: $mainBlue;
    color: #fff;
    text-align: center;
    font-weight: 45px;
    width: auto;
    margin-top: 100px;
  }
}
