* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'roboto', 'open-sans', sans-serif;
  /*background-color: red;
  $documentBackgroundColor;*/
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

/*************************************************************
**************************************************************
  DIV BLOCK PRODUCTION PROCESS
  ***********************************************************/
.horizontalBlockProcess {
  width: 100%;
  height: 500px;
margin-top: 400px;
  padding: 0;
  background-color: $accentLight;
  /* z-index: 2;*/
}