.btn {
  display: inline-block;
  color: $mainTextColor;
  border-radius: 2px;
  transition: all 0.6s ease-in-out;

  &--thin {
    padding: .8rem 1.3rem;
    font-size: 1.1rem;

    @mixin atSmall {    
      font-size: 1.5rem;
    }
  }

  &--large {
    padding: 1rem 1.3rem;
    font-size: 1.3rem;
    
    @mixin atXSmall {
      padding: 1.3rem 1.6rem;
    }

    @mixin atSmall {
      padding: 1.7rem 3rem;
      font-size: 1.7rem;
    }

    @mixin atMedium {
      font-size: 2rem;
    }
  }


  &--blue {
    background-color: $mainDarkBlue;
    
    &:hover {
      background-color: $mainLightGray;
      color: $mainDarkBlue;
    }
  }

  &--white {
    background-color: $mainTextColor;
    color: $mainDarkBlue;

    &:hover {
      background-color: rgba($mainTextColor, .45);
    }

  }

  &--orange {
    background-color: $mainOrange;

    &:hover {
      background-color: rgba($mainOrange, .7);
    }
  }
} 