.btn {
  display: inline-block;
  padding: .5rem .8rem;
  text-decoration: none;
  color: $mainTextColor;
  background-color: $mainDarkBlue;
  transition: all 0.7s ease-in-out;

  @mixin atXSmall {
    padding: .75rem 1.2rem;
  }

  &:hover {
    transform: scale(1.03);
  }


  &--orange {
    background-color: $mainOrange;
  }

  &--large {
    padding: .8rem 1rem;
    font-size: .85rem;
    
    @mixin atXSmall {
      padding: 1.1rem 1.9rem;
      font-size: 1.1rem;
    }

    @mixin atSmall {
      font-size: 1.25rem;
    }
  }

} 