.btn {
  display: inline-block;
  color: $lightColor;
  border-radius: 2px;
  transition: all 0.6s ease-in-out;

  &--thin {
    padding: .8rem 1.3rem;
    font-size: 1.1rem;

    @mixin atSmall {  font-size: 1.5rem;  }
  }

  &--large {
    padding: 1rem 1.3rem;
    font-size: 1.3rem;
    
    @mixin atXSmall {  padding: 1.3rem 1.6rem;  }

    @mixin atSmall {
      padding: 1.7rem 3rem;
      font-size: 1.7rem;
    }

    @mixin atMedium {  font-size: 2rem;  }
  }

  
  &--white {
    background-color: $lightColor;
    color: $darkColor;
    
    &:hover {  background-color: rgba($lightColor, .85);  }
    
  }

  &--dark {
    background-color: $darkColor;
    
    &:hover {
      background-color: $mainAccent;
      color: $darkColor;
    }
  }
  
  &--accent {
    background-color: $mainAccent;
    
    &:hover {  background-color: rgba($mainAccent, .7);  }
  }
} 