.btn {
  display: inline-block;
  color: $mainTextColor;
  border-radius: 2px;
  transition: all 0.7s ease-in-out;

  &--thin {
    padding: .8rem 1.3rem;
    font-size: 1.1rem;

    @mixin atSmall {
      font-size: 1.5rem;
    }
  }

  &--large {
    padding: 1.3rem 1.6rem;
    font-size: 1.3rem;
    
    @mixin atXSmall {
      padding: 1.7rem 3rem;
      font-size: 1.7rem;
    }

    @mixin atSmall {
      font-size: 2rem;
    }
  }

  &:hover {
    transform: scale(1.02);
  }

  &--blue {
    background-color: $mainDarkBlue;
  }

  &--white {
    background-color: $mainTextColor;
    color: $mainDarkBlue;

  }

  &--orange {
    background-color: $mainOrange;
  }
} 