.contact-form  {
  width: 100%;
  margin: 0 auto 50px;
  padding: 0 0 15px;
  text-align: center;

  & .form-group {
    width: 80%;
    margin: 0 auto;

    @mixin atSmall {  width: 65%;  }
  }


  /*   form__text  => textarea  */
  & .form-input {
    display: block;
    width: 90%;
    padding: .8rem 1rem;
    margin: 0 auto;
    font-size: 1.3rem;
    font-family: inherit;
    color: inherit;
    border-radius: 2px;
    background-color: rgba($lightColor, 1);
    border: none;
    border-bottom: 2px solid transparent;
    transition: all .3s;

    @mixin atSmall {  width: 100%;  }
    @mixin atMedium {
      padding: 1.3rem 2rem;
      font-size: 1.5rem;
    }


    &:focus {  outline: 1px solid $mainAccent;  }

    /*  =When focused & invalid text  */
    &:focus:invalid {  outline: 1px solid $mainAccentDark;  }
  }

  & .form-label {
    display: block;
    width: 90%;
    padding: 0.8rem 1rem;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    border: none;
    transition: all .3s;
  }

  /*  =Make the label disappear  */
  & .form-input:placeholder-shown + .form-label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  & button {
    width: 60%;
    margin: 4rem auto 0;
    cursor: pointer;    
    border: none;
    
    @mixin atSmall {  width: 30%;  }
  }
}