.large-hero {
  border-bottom: 1rem solid $mainLightGray;
  position: relative;

  &__image {
    display: block;
  }

  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 8.8rem;
  }

  &__title {
    font-weight: 900;
    color: $mainTextColor;
    margin: 0;
    font-size: 2.9rem;

    @mixin atXSmall {
      font-size: 3.8rem;
    }

    @mixin atMedium {
      font-size: 4.6rem;
    }

    @mixin atLarge {
      font-size: 6.4rem;
    }

  }

  &__subtitle {
    font-weight: 300;
    color: $mainOrange;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .3);
    font-size: 1.9rem;
    margin: 0;      
    padding-top: .8rem;

    
    @mixin atXSmall {
      font-size: 3.2rem;    
      padding-top: 1.6rem;
    }
    
    @mixin atMedium {
      font-size: 3.8rem;
      padding-top: 1.9rem;
    }

    @mixin atLarge {
      font-size: 4.6rem;
    }

  }

  &__description {
    color: $mainTextColor;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .3);
    font-weight: 300;
    font-size: 1.9rem;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: .5rem;

    @mixin atXSmall {
      padding-bottom: 1.8rem;
    }

    @mixin atSmall {
      font-size: 2.2rem;
      padding-bottom: 3.5rem;
    }

    @mixin atMedium {
      font-size: 3rem;
    }
  }

}