.large-hero {
  border-bottom: 10px solid $mainLightGray;
  position: relative;

  &__image {
    display: block;
  }

  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 88px;
  }

  &__title {
    font-weight: 900;
    color: $mainTextColor;
    margin: 0;
    font-size: 1.8rem;

    @mixin atXSmall {
      font-size: 2.4rem;
    }

    @mixin atMedium {
      font-size: 2.9rem;
    }

    @mixin atLarge {
      font-size: 4rem;
    }

  }

  &__subtitle {
    font-weight: 300;
    color: $mainOrange;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .3);
    font-size: 1.2rem;
    margin: 0;      
    padding-top: .5rem;

    
    @mixin atXSmall {
      font-size: 2rem;    
      padding-top: 1rem;
    }
    
    @mixin atMedium {
      font-size: 2.4rem;
      padding-top: 1.2rem;
    }

    @mixin atLarge {
      font-size: 2.9rem;
    }

  }

  &__description {
    color: $mainTextColor;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .3);
    font-weight: 300;
    font-size: 1.2rem;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;

    @mixin atXSmall {
      padding-bottom: 18px;
    }

    @mixin atSmall {
      font-size: 1.4rem;
      padding-bottom: 35px;
    }

    @mixin atMedium {
      font-size: 1.875rem;
    }
  }

}