.modal {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  transform: scale(1.2);
  transition: all .3s ease-out;
  z-index: 5;
  background: rgba($mainLightGray, .95);
  visibility: hidden;
  opacity: 0;

  &--is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__inner {
    flex: 1;
    margin: auto;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    transform: scaleX(1.2);
    transform-origin: 100% 0;
    cursor: pointer;
    color: $mainDarkBlue;

    &:hover {
      color: $mainOrange;
    }
  }
}