.page-section {
  padding: 1.2rem 0;

  @mixin atMedium {
    padding: 4.5rem 0;
  }


  &--lightGray {
    background: linear-gradient(214.51061644751348deg, rgba(255, 223, 181, 1) 22.7917768341793%, rgba(255, 223, 181, 1) 50.345933350918045%, rgba(255, 255, 255, 1) 84.59549238574283%);
    color: $mainDarkBlue;
  }
}