.primary-nav {
  padding-top: 1rem;

  @mixin atMedium {
    padding-top: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-top: .5rem;
    padding-right: 1rem;
    list-style: none;
    

    @mixin atMedium {
      display: block;
      float: left;
      margin-top: 0;
      padding-right: 0;
    }
    
    @mixin atLarge {
      padding-right: 4rem;
    }
  }

  li:last-child {
    padding-right: 0;

    @mixin atMedium {
      padding-right: 2rem;
    }
  }

  a {
    display: block;
    padding: .5rem .8rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 1px;
    background-color: rgba($mainDarkBlue, .85);
    color: $mainTextColor;
    opacity: .85;
    transition: all .4s;

    @mixin atMedium {
      display: inline-block;
      width: 9rem;
      padding: 0;
      margin: auto;
      font-size: 1.6rem;
      background-color: transparent;

      &:hover {
        opacity: 1;
      }

      &.is-current-link {
        font-weight: 400;
        color: $mainOrange;
      }
    }


    @mixin atLarge {
      display: block;
      width: auto;
    }
  }
}