.primary-nav {
  padding-top: 10px;

  @mixin atMedium {
    padding-top: 0;
  }


  ul {
    margin: 0;
    padding: 0;
  }



  li {
    display: inline-block;
    margin-top: 5px;
    padding-right: 10px;
    list-style: none;
    

    @mixin atMedium {
      display: block;
      float: left;
      margin-top: 0;
      padding-right: 0;
    }
    
    @mixin atLarge {
      padding-right: 40px;
    }
  }

  li:last-child {
    padding-right: 0;

    @mixin atMedium {
      padding-right: 20px;
    }
  }

  a {
    display: block;
    padding: 5px 8px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    background-color: rgba($mainDarkBlue, .85);
    color: $mainTextColor;

    @mixin atMedium {
      display: inline-block;
      width: 90px;
      padding: 0;
      margin: auto;
      font-size: 1.2rem;
      background-color: transparent;

      &:hover {
        font-weight: 500;
      }

      &.is-current-link {
        font-weight: 400;
        color: $mainOrange;
      }
    }


    @mixin atLarge {
      display: block;
      width: auto;
    }
  }
}