.site-header {
  position: absolute;
  width: 100%;
  padding: 10px 0;
  z-index: 2;
  transition: background-color .4s ease-out;

  &--is-expanded {
    background-color: rgba($mainDarkBlue, .75);
  }

  @mixin atMedium {
    position: fixed;
    background-color: rgba($mainDarkBlue, .50);

    &--dark {
      background-color: rgba($mainDarkBlue, .85);
    }
  }

  &__btn-container {
    margin-top: 10px;

    @mixin atMedium {
      margin-top: 0;
      margin-right: 5px;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.8);
    transition: transform .5s ease-out;
    transform-origin: 50% 0;
    margin-left: 0;
    padding: 14px 25px;
    background-color: $mainDarkBlue;
    cursor: pointer;

    @mixin atMedium {
      margin-left: 20px;
      left: auto;
      transform: translateX(0);

      .site-header--dark & {
        transform: scale(.65);
      }
    }
  }

  &__logo__graphic {
    text-indent: -9999px;
  }

  &__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    cursor: pointer;

    &::before {
      content: '';
      width: 20px;
      height: 3px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $mainTextColor;
      transform-origin: 0 0;
      transition: transform .3s ease-out;
    }

    &__middle {
      width: 20px;
      height: 3px;
      position: absolute;
      top: 8px;
      left: 0;
      background-color: $mainTextColor;
      transition: all .3s ease-out;
      transform-origin: 0 50%;
    }

    &::after {
      content: '';
      width: 20px;
      height: 3px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $mainTextColor;
      transform-origin: 0 100%;
      transition: transform .3s ease-out;
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.25);
    }

    .site-header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }

    &::after {
      transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    }
  }


  &__menu-content {
    position: relative;
    padding-top: 90px;
    margin-right: 0;
    text-align: center;
    transform: scale(1.3);
    transition: all .3s ease-out;
    opacity: 0;
    z-index: -10;


    @mixin atMedium {
      padding-top: 0;
      margin-right: 20px;
      transform: scale(1);
      z-index: 1;
      opacity: 1;
      cursor: pointer;
    }

    &--is-visible {
      transform: scale(1);
      z-index: 1;
      opacity: 1;
    }
  }
}