.site-footer {
  background-color: #B6B2ED;
  color: $mainDarkBlue;
  padding: .5rem 0;
  text-align: center;

  &__text {
    display: block;
    margin-bottom: 1rem;
    font-weight: 300;

    @mixin atMedium {
      display: inline;
      margin-bottom: 0;
      margin-right: 1.4rem;
    }
  }
}