.social-icons {
  margin-top: 1rem;
  margin-right: 0;
  text-align: center;
  
  @mixin atMedium {
    margin-top: .5rem;
    margin-right: 2rem;
  }

  &__link {
    display: inline-block;
    position: relative;
    width: 4rem;
    height: 4rem;
    
    & svg {
      display: block;
      position: absolute;
      width: 2rem;
      height: 2rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: $mainTextColor;
      transition: fill .3s;

      &:hover {
        fill: $mainOrange;
      }
    }
    &--dark {
      & svg {
        fill: $mainDarkBlue;
      }
    }
  }
}