.social-icons {
  text-align: center;
  margin-top: 10px;

  @mixin atMedium {
    margin-top: 0;
  }

  &__icon {
    display: inline-block;
    position: relative;
    background-color: $mainOrange;
    width: 36px;
    height: 36px;
    margin: 0 5px 5px 5px;

    svg {
      display: block;
      position: absolute;
      width: 25px;
      height: 25px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}