.social-icons {
  margin-top: 10px;
  text-align: center;
  
  @mixin atMedium {
    margin-top: 5px;
  }
  
  &__icon {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    margin: auto 5px;
    background-color: $mainOrange;
    
    svg {
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}